*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1{
  padding: 10px;
  text-align: center;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.dado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    align-items: center;
}
[class^="clase-"]{
    background-color: black;
    width: 120px;
    height: 120px;  
    display: flex;
    padding: 10px;
    margin: 1em;
}
.punto{
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.clase-1{
    justify-content: center;
    align-items: center;
}
.clase-2{
    justify-content: space-between;
}
.clase-2 .punto:nth-child(2){
    align-self: flex-end;
}
.clase-3{
    justify-content: space-between;
}
.clase-3 .punto:nth-child(2){
    align-self: center;
}
.clase-3 .punto:nth-child(3){
    align-self: flex-end;
}
.clase-4{
    justify-content: space-between;
}
.column {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.clase-5{
    justify-content: space-between;
}
.clase-5 .punto:nth-child(2){
    align-self: center;
}
.clase-6{
    justify-content: space-between;
}